{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{Title}}</h2>
    {% for list in lists %}
    <div class = "flex-container">
        <div class ="pic"><img src="{{list.url}}" alt="No Images" width="150px" ></div>
        <div class = "content">
            <h1>{{list.id}}.{{list.title}}</h1>
            <p>Price: ${{list.price}} </p>
            <p>Description: {{list.description}}</p>
            <p>{{list.date}}</p>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'item' list.id %}">Details</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
{% endblock %}